@use '../base/global';
@use '../base/mixin';

@mixin container-layout {
    color: global.$clr-text;
    background-color: global.$clr-container;
    padding: 5px 0;
    margin: 0 8.5px;
    margin-bottom: 10px;
    font-size: 1em;
    border-radius: 8px;
    
    @include mixin.mbox-shadow(global.$shadow-container);
    
    .child-container {
        .title {
            text-decoration: none;
        }
        
        .article {
            margin-right: -20px;
        }
    }
    
    .title {
        text-decoration: underline;
        padding: 0 25px;
        margin: 20px 0;
    }
    
    .article {
        padding: 0 25px;
        padding-bottom: 20px;
        text-align: justify;
        text-justify: auto;
        letter-spacing: 0.45px;
        word-spacing: 1px;
        
        .linespace {
            border: none;  // No border
            border-radius: 10px;
            color: #3b2300;
            background-color: #3b2300;
            margin-left: 25px;
            height: 1.55px;
        }
    }
    
    ul li,
    ol li {
        padding-top: 10px;
        padding-left: 10px;
    }
}
