@use '../base/global';
@use '../base/mixin';
@use '../components/main-base';

@mixin container-layout {
    color: main-base.$container-text-clr;
    background-color: main-base.$container-clr;
    font-size: main-base.$container-font-size;
    border: main-base.$container-border;
    border-radius: main-base.$container-border-rad;
    
    padding: 5px 0 25px 0;
    margin: 8.5px 5% 10% 5%;  // Keep both sides relative to device width
    
    @include mixin.mbox-shadow(global.$shadow-container);
    
    .child-container {
        .title, .article {
            // Fix the line border
            margin-right: 1.9px;
        }
        
        .title {
            border-bottom-width: 2px;
            font-family: global.$default-font;
            text-align: left;
        }
    }
    
    .title {
        margin: 15px 25px;   // Add some spaces on both sides
        border-bottom: 3px solid main-base.$container-text-clr;
    }
    
    .article {
        margin: 0 25px;
        
        // Font and text configuration
        font-family: main-base.$article-font-family;
        text-align: justify;
        letter-spacing: 0.3px;  // Increase gaps between each letter
        line-height: 130%;      // 30% more higher than its parent
    }
    
    ul li,
    ol li {
        padding: 7px 0 0 10px;
        
        // Remove top padding on the first child
        &:first-child {
            padding-top: 0;
        }
    }
    
    // Remove the bottom padding
    &:has(ul),
    &:has(ol) {
        padding-bottom: 0.75em;
    }
}

@mixin container-layout-ld {
    margin-left: 35px;   // Do not too be close with aside nav
    margin-right: 35px;
    color: main-base.$container-text-clr;
    font-size: clamp(1rem, 4vw, main-base.$container-font-size - 0.25rem);
    
    .title {
        font-size: clamp(2em, 4vw, min(4vw, 2.7em));
        margin-bottom: 10px;
        border-bottom: clamp(3px, 60vw, 5px) solid main-base.$container-text-clr;
    }
    
    .article {
        font-size: clamp(1.35vw, max(1.35vw, 1em), max(2vw, max(2em, 2rem)));
        letter-spacing: 0.3px;
        line-height: 1.85;
    }
    
    & > .article,
    .child-container > .article {
        font-family: main-base.$article-font-family;
        text-align: justify;
    }
    
    .child-container {
        margin-left: 25px;
        
        .title {
            font-family: global.$default-font;  // Override
            font-size: 1.4em;
            text-align: left;
            border-bottom-width: clamp(2px, 60vw, 3.65px);
        }
    }
    
    ul,
    ol {
        padding-left: 55px;
    }
    
    ul li,
    ol li {
        padding: 10px 0 0 10px;
        
        // Remove top padding on the first child
        &:first-child {
            padding-top: 0;
        }
    }
}
